@font-face {
    font-family: BlenderBookPro;
    src: url('/App_Themes/Theme1/Blender-Pro-Book.otf') format('opentype');
}

    body {
    /* border settings */
    --border-radius: 15px 15px;
    --button-radius: 10px;
    --textbox-radius: 5px;
    --font-size: large;
    /* selected colours */
    --red: rgba(255, 41, 109, 1);
    --lightblue: rgba(5, 217, 232, 1);
    --midblue: rgba(5, 249, 232, 1);
    --darkblue: rgba(0, 86, 120, 1);
    --dark: rgba(1, 1, 43, 1);
    /* glow properties */
    --button-glow-radius: 50px;
    --display-glow-radius: 10px;
    /* body properties */
    background-color: var(--dark);
    margin: 0;
    height: 100%;
}


/* 
    I usually use flexbox, but decided to try grid. screaming ensured.
    glow start: https://unused-css.com/blog/css-outer-glow/
    had weird glow effects: https://medium.com/@berkaycrk/z-index-in-grid-layout-f6edf9648ea2
    correct it: https://stackoverflow.com/questions/23067651/how-to-layer-box-shadows-using-z-index
    artsy fonts: https://www.dafont.com/true-lies.font and https://fonts.google.com/specimen/Orbitron
    I have notes i use but general font import: https://www.digitalocean.com/community/tutorials/how-to-load-and-use-custom-fonts-with-css
*/

#form1 {
    display: grid;
    place-items: center;
    padding: 25px 0px 25px 0px;
}

.CalculatorContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: var(--dark);
    padding: 10px;
    text-align: center;
    font-size: var(--font-size);
    border-radius: var(--border-radius);
}

    .CalculatorContainer > div {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        border: none;
        border-radius: var(--border-radius);
            }

.textDisplay {
    display: grid;
    place-items: center;
    grid-column-start: 1;
    grid-column-end: 5;    
    border-radius: var(--border-radius);
    border-color: var(--lightblue);
}

#TxtDisplay {
    position: relative;
    text-align: right;
    padding: 30px 15px 30px 15px;
    font-size: var(--font-size);
    font-family: BlenderBookPro;
    letter-spacing: 2px;
    color: var(--midblue);
    width: 90%;
    background-color: var(--darkblue);
    color: var(--red);
    border: 5px double var(--lightblue);
    border-radius: var(--button-radius);
    z-index: 20;
}

.allClear {
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    border-radius: var(--border-radius);
}

.Button {
    position: relative;
    padding: 30px;
    display: inline-block;
    font-size: inherit;
    width: 100%;
    border: 1px solid var(--darkblue);
    border-radius: var(--button-radius);
    color: var(--red);
    background-color: var(--dark);
    z-index: 10;
    transition: box-shadow 0.5s ease-out, z-index 0.5s ease-out, border 0.5s ease-out, color 0.5s ease-out;
}

    .Button:hover {
        position: relative;
        z-index: 0;
        box-shadow: 0px 0px 10px var(--red), 0px 0px 20px var(--lightblue), 0px 0px 30px var(--midblue), 0px 0px 50px var(--red);
        border: 1px solid var(--red);
        color: var(--lightblue);
        overflow: hidden;
    }
