body {
    /* background colours */
    --calculator-bg: black;
    --text-display-bg: lightgrey;
    --button-bg: darkgray;
    --op-button-bg: goldenrod;
    --equals-clear-bg: firebrick;
    /* text colour */
    --text: black;
    /* border colors */
    --calculator-border: black;
    --text-display-border: darkgrey;
    --button-border: gray;
    --op-button-border: darkgoldenrod;
    --equals-clear-border: maroon;
    /* border settings */
    --border-radius: 15px 15px;
}

#form1 {
    
}

.CalculatorContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: var(--calculator-bg);
    padding: 10px;
    text-align: center;
    font-size: xx-large;
    width: 75%;
    border: none;
    border-radius: var(--border-radius);
}

    .CalculatorContainer > div {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        position: relative;
        border: none;
        border-radius: var(--border-radius);
    }

.textDisplay {
    grid-column-start: 1;
    grid-column-end: 5;
    border: none;
    border-radius: var(--border-radius);
}

#TxtDisplay {
    padding: 30px 0px 30px 0px;
    display: inline-block;
    font-size: xx-large;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
}

.allClear {
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    border-radius: var(--border-radius);
}

.Button {
    padding: 30px;
    display: inline-block;
    font-size: inherit;
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
}

.glow-button:hover {
    box-shadow: 0px 0px 50px rgba(0, 255, 255, 1);
}